.filter-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.filter-form__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	.position-relative + .position-relative {
		margin-left: 15px;
	}
}

.filter-form--more-options {
	display: none;
}

.filter-form__item {
	font-size: 18px;
	border: 0;
	border: 1px solid #e7e7e9;
	color: #6e6d7a;
	border-radius: 8px;
	-webkit-appearance: none;
	transition: .3s;
	padding-top: 12px;
	padding-right: 40px;
	padding-bottom: 12px;
	padding-left: 18px;
	margin-bottom: 15px;

	&:focus {
		outline: none;
	}

	&:hover {
		border-color: $orange;
	}
}

.filter-form__arrow {
	height: 20px;
	width: 20px;
	fill: #bebebe;
	transition: .3s;
	pointer-events: none;
	position: absolute;
	top: 15px;
	right: 10px;
}
