.footer {
	border-top: 2px solid #bebebe;
	padding-top: 40px;
	padding-bottom: 40px;

	@media ( min-width: 991px ) {
		padding-bottom: 100px;
	}
}

.footer__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	@media ( min-width: 576px ) {
		flex-direction: row
	}

	.site-logo--sm {
		margin-bottom: 25px;

		@media ( min-width: 576px ) {
			margin-bottom: 0;
		}
	}
}
