.section {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;

	@media ( min-width: 992px ) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

.section--text-align-left {
	text-align: left;
}

.section--pb-lg {
	padding-bottom: 100px;
}

.section__image {
	display: none;

	@media ( min-width: 992px ) {
		display: block;
		background-size: cover;
		background-position: center;
		height: 60vh;
		width: 100%;
		position: absolute;
	}
}

.section__image--audi-white {
	width: 820px;

	@media ( min-width: 992px ) {
		top: 130px;
		left: -350px;
	}

	@media ( min-width: 1200px ) {
		left: -250px;
	}

	@media ( min-width: 1400px ) {
		left: -150px;
	}

	@media ( min-width: 1600px ) {
		left: -50px;
	}

	@media ( min-width: 1800px ) {
		left: 50px;
	}
}

.section__image--cars-in-line {
	@media ( min-width: 992px ) {
		height: 60vh;
		width: 100%;
		margin-top: 40px;
		position: absolute;
		top: -20px;
		right: -450px;
		margin-top: 0;
	}

	@media ( min-width: 991px ) {
		right: -550px;
	}
}
