.sponsors-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: auto;
	margin-top: 30px;
	margin-left: 0;

	@media ( min-width: 576px ) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	@media ( min-width: 768px ) {
		justify-content: space-between;
		flex-wrap: nowrap;
		margin-top: 60px;
		margin-left: -30px;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	a {
		flex-basis: 40%;
		margin-top: 20px;

		@media ( min-width: 768px ) {
			flex-basis: auto;
			margin-top: 0;
		}

		& + a {
			margin-left: 0;
		
			@media ( min-width: 768px ) {
				margin-left: 50px;
			}

			@media ( min-width: 1200px ) {
				margin-left: 0;
			}
		}
	}
}
